<ul>
  {{#each cart.products}}
    <li>Product: {{this.product.title}}</li>
    <li>Quantity: {{this.quantity}}</li>
    <br />
  {{/each}}
  <button href="/api/carts/6465bf6f4ef027694d4f59d2/purchase">Finalizar compra</button>
</ul>
