<div>
    <h1>Productos</h1>
    <ul>
        {{#each products}}
            <li>Title: {{this.title}}</li>
            <li>Description: {{this.description}}</li>
            <li>Price: {{this.price}}</li>
            <li>stock: {{this.stock}}</li>
            <br>
        {{/each}}
    </ul>
</div>
