<div>
  <h1>Producto</h1>
  <br />
  <a href="/api/carts/6465bf6f4ef027694d4f59d2"><button>Carrito</button></a>
  <br />
  <div>
    <li>Title: {{prod.title}}</li>
    <li>Description: {{prod.description}}</li>
    <li>Price: {{prod.price}}</li>
    <li>Stock: {{prod.stock}}</li>
  </div>
  <br />
  <br />
  <button>Agregar al carrito</button>
</div>